.semantic-editor {
    padding: 100px;
    font-family: 'SF Mono', Menlo, Monaco, Consolas, monospace;
    font-size: 1rem;
    line-height: 2;
}

.semantic-editor div {
    padding-left: 30px;
    white-space: pre-wrap;
    border-left: 1px solid hsl(0, 0%, 95%);
}

.semantic-editor .empty {
    position: relative;
    border-left: none;
}

.semantic-editor .empty::before {
    content: '';
    position: absolute;
    top: 11px;
    left: -4px;
    width: 9px;
    height: 9px;
    color: #4271ae;
    background-image: url(../images/add.svg);
    background-size: 9px 9px;
}

.semantic-editor .heading {
    font-weight: bold;
}

.semantic-editor .heading[data-hierarchy='1'] {
    border-color: hsl(0, 0%, 0%);
}

.semantic-editor .heading[data-hierarchy='2'] {
    border-color: hsl(0, 0%, 70%);
}

.semantic-editor .heading[data-hierarchy='3'] {
    border-color: hsl(0, 0%, 80%);
}

.semantic-editor .heading[data-hierarchy='4'] {
    border-color: hsl(0, 0%, 85%);
}

.semantic-editor .heading[data-hierarchy='5'] {
    border-color: hsl(0, 0%, 87.5%);
}

.semantic-editor .heading[data-hierarchy='6'] {
    border-color: hsl(0, 0%, 90%);
}

.semantic-editor .blockcode {
    background-color: #f2f2f2;
}

.semantic-editor .blockquote {
    color: #4271ae;
    font-style: italic;
}

.semantic-editor .unorderedlist {
    padding-left: calc(30px + 2ch);
    text-indent: -2ch;
}

/**
 * Formats
 */

.semantic-kirbytag {
    margin: 0 -0.2em;
    padding: 0.2em;
    font-weight: normal;
    background-color: #e3eaf3;
}

.semantic-kirbytag span {
    color: #4271ae;
}

.semantic-reference {
    margin: 0 -0.2em;
    padding: 0.2em;
    font-weight: bold;
    background-color: #fffad5;
}

.semantic-reference span {
    color: #c82829;
}
