/**
 * hana+nils · Büro für Gestaltung
 * https://hananils.de · buero@hananils.de
 */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #efefef;
}

div {
    max-width: 1000px;
}

h1 {
    padding-bottom: 0.75rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
        Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    font-weight: bold;
}

.field {
    border: 1px solid #ccc;
}

.field:focus-within {
    border-color: #4170ad;
    outline: 2px solid #c2cede;
}

/**
 * Semantic Editor
 */

.semantic-editor {
    padding: 10vw;
    font-family: 'SF Mono', Menlo, Monaco, Consolas, monospace;
    font-size: 1rem;
    line-height: 2;
    background-color: #fff;
}

@media (min-width: 1000px) {
    .semantic-editor {
        padding: 100px;
    }
}

.semantic-editor:focus {
    outline: none;
}

.semantic-editor div {
    padding-left: 30px;
    white-space: pre-wrap;
    border-left: 1px solid hsl(0, 0%, 95%);
}

.semantic-editor [data-type='empty'] {
    position: relative;
    border-left: none;
}

.semantic-editor [data-type='empty']::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -20px;
    width: 41px;
    height: 41px;
    color: #4271ae;
    background-image: url(../images/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 9px;
    cursor: pointer;
}

.semantic-editor [data-type='heading'] {
    font-weight: bold;
}

.semantic-editor [data-hierarchy='1'] {
    border-color: hsl(0, 0%, 0%);
}

.semantic-editor [data-hierarchy='2'] {
    border-color: hsl(0, 0%, 70%);
}

.semantic-editor [data-hierarchy='3'] {
    border-color: hsl(0, 0%, 80%);
}

.semantic-editor [data-hierarchy='4'] {
    border-color: hsl(0, 0%, 85%);
}

.semantic-editor [data-hierarchy='5'] {
    border-color: hsl(0, 0%, 87.5%);
}

.semantic-editor [data-hierarchy='6'] {
    border-color: hsl(0, 0%, 90%);
}

.semantic-editor [data-type='blockcode'] {
    background-color: #f2f2f2;
}

.semantic-editor [data-type='blockquote'] {
    color: #4271ae;
    font-style: italic;
}

.semantic-editor [data-type='unorderedlist'] {
    padding-left: calc(30px + 2ch);
    text-indent: -2ch;
}

/**
 * Formats
 */

.semantic-kirbytag {
    margin: 0 -0.2em;
    padding: 0.2em;
    font-weight: normal;
    background-color: #e3eaf3;
}

.semantic-kirbytag span {
    color: #4271ae;
}

.semantic-reference {
    margin: 0 -0.2em;
    padding: 0.2em;
    font-weight: bold;
    background-color: #fffad5;
}

.semantic-reference span {
    color: #c82829;
}

.semantic-editor code {
    margin: 0 -0.2em;
    padding: 0.2em;
    font-family: 'SF Mono', Menlo, Monaco, Consolas, monospace;
    background-color: #f2f2f2;
}
